/* Fonts */
.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.kumar-one-regular {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

.aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.jaro {
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .noto-sans-myanmar-regular {
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 400;
    font-style: normal;
  }

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
}
      
/* body html */

html, body {
    background-color: #dcfac7;
    height: 100%;
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Header elements */

.sub-navbar-css {
    height: 20vh;
    width: 100vw;
    background-color: rgba(4, 232, 19, 0.769);
    display: flex;
    border: 1px solid black;
    align-items: center;
}


#back-button-clicked {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: none;
    margin-left: 35px;

} #back-button-clicked:hover {
    cursor: pointer;
    transform: translate(0,2px);
}

#back-button-clicked img {
    border-radius: 100px;
    margin-left: -6.5px;
}

.sub-navbar-css h1 {
    margin-left: 35vw
}


/* Main Content */


.main-container {
    display: flex;
    flex-direction: row;
}

.item-delivery-container {
    display: flex;
    flex-direction: column;
}

.delivery-info-container {
    background: white;
    height: 8vw;
    width: 60vw;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px ;
    margin-left: 5vw;
} .delivery-info-container span i {
    margin-left: 30px;
    padding: 10px;
}

#delivery-info-api {
    font-size: 20px;
}

.item-column-css {
    width: 60vw;
    background-color: white;
    height:17vw;
    margin-left: 5vw;
    margin-top: 5vh;
    border-radius: 20px;
    border: 1px solid black;
} .item-column-css input[type='checkbox'] {
    width:45px;
    height:45px;
    margin-top: -20px;
    margin-left: -10px;
    background:white;
    border-radius:10px;
    border:2px solid #555;
}

.col-desc-css {
    display: flex;
    flex-direction: column;
}

.name-image-css {
    width: 55vw;
    height: 4vw;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

#item-image-api {
    border-radius: 10px;
    border: 1px solid black;
} 

#item-name-api {
    margin-left: 25%;
    font-size: 20px;
}

.voucher-css{
    margin-left: 25%;
    background-color: red;
    width: 10vw;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.price-css {
    color: black;     
    text-align: center;
    margin-right: 20vw;
    margin-top: 2vh;
    font-size: 14px;
} .price-css hr {
    width: 60vw;
}

#message-container-css{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#order-qty-css {
    margin-left: 5%;
    position: relative;
    bottom: 4px;
}

.payment-container-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    background-color: lightgreen;
    border: 2px solid black;
    width: 40vw;
    height: 70vh;
} .payment-container-css h1 {
    text-align: center;
    font-size: 21px;
}

#payment-method-container-css {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
} #payment-method-container-css img {
    background: white;
    border-radius: 100px;
    border: 2px solid black;
    object-fit: contain;
}

.payment-container-css h5 {
    font-size: 20px;
    margin-top: 2px;
}

#card-info-container-css {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 30vw;
    margin-top: -5vh;

}  #card-info-container-css input {
    padding: 7px 7px 7px 7px;
    border-radius: 5px;
    border: 2px solid black;
} #card-info-container-css input[type='number'] {
    width: 5vw;
}

#pay-btn-css {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pay-btn-css button {
    background: white;
    padding: 5px 5px 5px 5px;
    width: 5vw;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    background: black;
    color: white;
    cursor: pointer;
   
}#pay-btn-css button:hover {
    transform: translate(0,2px);
}


#voucher-btn-css {
    margin-top: 10px;
    width: 30vw;
    border-radius: 10px;
    border: 2px solid black;
    background-color: green;
    color: white;
    align-content: center;
    font-size: 15px;
    word-spacing: 5px;
    cursor: pointer;
}

#fees-payable-container-css {
    width: 30vw;
    border: 1px solid red;
    font-size: 15px;
}
#fees-payable-container-css div {
    padding: 5px;
}


footer {
    height: 5.5vh;
    border: 1px solid black;
}

