/* Fonts */
.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.kumar-one-regular {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

.aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.jaro {
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .noto-sans-myanmar-regular {
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 400;
    font-style: normal;
  }
      
/* body html */

html, body {
    background-color: #dcfac7;
    height: 100%;
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Header elements */

.sub-navbar-css {
    height: 20vh;
    width: 100vw;
    background-color: rgba(4, 232, 19, 0.769);
    display: flex;
    align-items: center;
} .sub-navbar-css img {
    border-radius: 100px;
    margin-left: 5vw;
    border: 2px solid #2f673c;
}

#search-bar {
    border-radius: 5px;
    border: 2px solid #2f673c;
    height: 5vh;
    width: 40vw;
    margin-left: 6vw;
    padding: 10px 0 5px 10px;
    font-size: 25px;
} #search-bar::placeholder {
    font-size: inherit;
}

#coin-count-container {
    height: 5vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1.5vw;
} #coin-count-container div {
    background-color: rgb(247, 76, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    border-radius: 5px;
    border: 2px solid orange;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    color: white;
    width: 100px;
} #coin-count-container img {
    padding: 0;
    position: relative;
    border: 2px solid orange;
    left: 20px;
    top: 1px;
}

.profile-button-css {
    padding: 0;
    margin-left: 12vh;
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
}

.profile-button-css img {
    display: block;
    width: 35%;
    height: auto;
}

.title-slogan-container-css {
    height: 17vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}  .title-slogan-container-css h1 { /* title */
    font-size: 40px;
    color: rgb(239, 239, 239);
} .title-slogan-container-css h4 { /* slogan */
    padding: 0;
    margin-left: 2vw;
    margin-top: -6vh;
    color: rgb(21, 38, 26);
}

/* Main content */

.main-container-css {
    height: 74vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15vw;
}

/* Container header */

.category-container-css, .rewards-container-css, .page-options-container-css {
    padding: 10px 5px 5px 5px;
    height: 3vh;
    width: calc(70vw - 5px);
    display: flex;
    flex-direction: column;
    border: 2px solid #2f673c;
    background-color: #27c14b;
    align-items: center;
    color: white;
    font-size: 15px;
}

/* Container body */

.category-items-css, .page-options-items-css {
    width: calc(70vw - 5px);
    height: 9vh;
    background-color: #27c14b;
    padding: 10px 5px 5px 5px;
    border: 2px solid #2f673c;
}

/* Categories option container */
#category {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 4vh;
    font-size: 13px;
    color: white;
} #category li {
    margin-right: 5vw;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} #category li button {
    border-radius: 100px;
    height: 7vh;
    background-color: #27c14b;
    border: none;
} #category li button img {
    border-radius: 100px;
    border: 1px solid rgb(14, 20, 14);
}  #category li button img:hover {
    border: 1px solid green;
    cursor: pointer;
    transform: translate(0, -1px);
}  

/* Daily rewards container */
.rewards-items-css {
    width: calc(70vw - 5px);
    background-color: #27c14b;
    height: 19vh;
    border: 2px solid #2f673c;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 5px 5px;
    row-gap: 5px;
    justify-content: space-evenly;
} #days {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:5px;
    margin-top: -1vh;
    font-size: 13px;
    color: white;
} #coins {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -1vh;
    font-size: 100%;
    color: white;
} #coins img {
    border-radius: 60px;
} #coins li {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Claim reward button id for the Daily rewards container */
 #claim-reward-clicked {
    margin-left: 32vw;
    margin-top: -3vh;
    border-radius: 10px;
    border: 2px solid #2f673c;
    width: 6vw;
    height: 4.5vh;
    background-color: #dcfac7;
    color: black;
} #claim-reward-clicked:hover {
    background-color: #27c14b;
    color: white;
    cursor: pointer;
    transform: translate(0, 2px);
}

/* Sub main container, applies for everything e.g. catagories, Daily rewards etc */
#sub-main-container-css {
    padding: 16px 0 0 0;
}

/* Page options */

#page-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 13px;
    margin-top: 4.7vh;
} #page-options li {
    margin-top: -6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} #page-options li button {
    background-color: #27c14b;
    border: none;
} #page-options li button img {
    border-radius: 100px;
    border: 1px solid rgb(14, 20, 14);
} #page-options li button img:hover {
    border: 1px solid green;
    cursor: pointer;
    transform: translate(0, -1px);
}

#shop-option-clicked img, #Help-center-clicked img {
    background-color: white;
}


footer {
    height: 5vh;
    border: 1px solid black;
}

