/* Fonts */
.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.kumar-one-regular {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

.aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.jaro {
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .noto-sans-myanmar-regular {
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 400;
    font-style: normal;
  }
      

.roboto {
font-family: "Roboto", serif;
font-optical-sizing: auto;
font-weight: bold;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}
  
.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
}

/* body html */

html, body {
    background-color: #dcfac7;
    margin: 0; 
    min-height: 100vh; 
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}


/* Header elements */


.sub-navbar-css {
    height: 18vh;
    width: 100%;
    background-color: rgba(4, 232, 19, 0.769);
    display: flex;
    align-items: center;
    
} .sub-navbar-css img {
    border-radius: 100px;
    margin-left: 5vw;
    border: 2px solid #2f673c;
}

#search-bar {
    border-radius: 5px;
    border: 2px solid #2f673c;
    height: 5vh;
    width: 40vw;
    margin-left: 6vw;
    padding: 10px 0 5px 10px;
    font-size: 25px;
} #search-bar::placeholder {
    font-size: inherit;
}

.profile-button-css {
    padding: 0;
    margin-left: 90px;
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
}

.profile-button-css img {
    display: block;
    width: 35%;
    height: auto;
}

.title-slogan-container-css {
    height: 17vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}  .title-slogan-container-css h1 { /* title */
    font-size: 40px;
    color: rgb(239, 239, 239);
} .title-slogan-container-css h4 { /* slogan */
    padding: 0;
    margin-left: 2vw;
    margin-top: -6vh;
    color: rgb(21, 38, 26);
}

/* Main Navigation bar */
.main-navbar-css {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #2c5616;
    border: 5px solid #a4ea7e;
    height: 10vh;
} .main-navbar-css ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
} .main-navbar-css ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
} .main-navbar-css ul li a:hover {
    color: grey;
} 


/* Main content */

.filter-tool-container-css div  {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
} .filter-tool-container-css div h4 {
    margin-top: -10px;
    margin-left: 60px;
    color: rgb(107, 104, 104);
    font-size: 20px;
} .filter-tool-container-css hr {
    margin-left: 1vw;
    width: 18vw;
    margin-top: -2vh;
    height: .5vh;
    background-color: rgb(142, 147, 141);
    border: none;
} .filter-tool-container-css h2, .filter-tool-container-css h4 {
    padding-left: 1vw;
    margin-top: -1px;
} 



#popularity-lth-clicked {
    height: 90px;
    width: 90px;
}

#clear-clicked {
    margin-left: 1vw;
    margin-bottom: 20px;
    width: 10vw;
    height: 6vh;
    background-color: black;
    color: white;
    font-size: 15px;
} #clear-clicked:hover {
    cursor: pointer;
    color: grey;
    transform: translate(0,1px);
}



.category-item-container1-css {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-left: 25vw;
    padding: 0;
    position: absolute;
    top: 36vh;
} .category-item-container1-css button img {
    border: 1px solid red;
} .category-item-container1-css button {
    border: none;
    background: none;
}

.category-item-container2-css {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-left: 49vw;
    position: absolute;
    top: 36vh;
} .category-item-container2-css button img {
    border: 1px solid red;
} .category-item-container2-css button {
    border: none;
    background: none;
}

#kitchen-knife {
    border: 3px solid grey;
}

#selected-item-img-api {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-left: 68vw;
    position: absolute;
    z-index: 3;
    top: 30vh;
    border:3px solid red ;
}


.item-details-container-css {
    height: 54vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    align-items:center;
    padding: 0;
    margin-left: 68vw;
    position: absolute;
    z-index: 2;
    top: 62vh;
    border: 2px solid red;
    background-color: lightgreen;
} .item-details-container-css h3 {
    font-size: 28px;
} .item-details-container-css h4 {
    position: relative;
    bottom: 30px;
    font-size: 15px;
}

.commentor-details-api {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 100px;
    position: relative;
    bottom: 95px;
    left: 50px;
}
#commentor-profile-clicked {
    border: none;
    background:none;
} #commentor-profile-clicked img {
    border: 2px solid grey;
    background:none;
    border-radius: 100px;
    padding: 0;
    position: relative;
    bottom: 5px;
} #commentor-profile-clicked h5 {
    margin: 0;
}

#comment-box {
    height: 6vh;
    width: 21vw;
    background-color: rgb(255, 254, 254);
    color: rgb(20, 18, 18);
    text-align: center;
}

.buy-cartadd-container-css {
    display: flex;
    align-items: center;
    border: 1px solid red;
    flex-direction: column;
    width: 30vw;
    margin-left: 55vw;
} .buy-cartadd-container-css hr {
    width: 30vw;
    margin-left: 13vw;
    position: relative;
    top: -60px;
    border: 2px solid red;
    z-index: 5;
} 

#view-cart-clicked {
    position: relative;
    z-index: 5;
    width: 15vw;
    height: 7vh;
    margin-left: 28vw;
    bottom: 9vh;
    font-size: 20px;
}

#cart-item-count-api {
    height: 4vh;
    width: 4vh;
    border-radius: 100px;
    position: relative;
    background: black;
    color: white;
    text-align: center;
    align-content: center;
    border: 2px solid rgb(255, 0, 0);
    bottom: 17.5vh;
    z-index: 10;
    margin-left: 43vw
}

#add-cart-clicked {
    position: relative;
    z-index: 5;
    width: 7vw;
    margin-left: 28vw;
    bottom: 13.8vh;
}

#commentor-rating-box {
    display: flex;
    justify-content: space-around;
    height: 4vh;
    width: 10vw;
    position: relative;
    right: 10.1vw;
    border: 1px solid black;
    bottom: -44px;
    background-color: white;

}

/* Footer */

footer {
    height: 5.5vh;
}

