
/* Imported Fonts */

.jaro {
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.kumar-one-regular {
font-family: "Kumar One", serif;
font-weight: 400;
font-style: normal;
}

/* Main Contents */


html, body {
    background-color: #dcfac7;
    height: 100%;
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* User defined classes / Id */

.shop-img-container-css
{    
    height: 32vh;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-right: 10vw;
}  .shop-img-container-css img {
    border-radius: 100px;
    border: 2px solid #2f673c;
}

.header-text-css {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
} .header-text-css h1 {
    font-size: 40px;
    color: #2f673c;
} .header-text-css h4 { /* Slogan (we make shopping easier) */
    margin: -5vh 0 0 0; 
    color: #3a503f;
} .header-text-css div { /* Sign up */ 
    margin-top: 4vh;
    font-size: 40px;
    position: relative;
    right: 1vw;
    color: #366e43;
    letter-spacing: 3px;
} 

/* Sign up input */

.input-container-css {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    flex-direction: column;
    row-gap: 1vh;
    width: 100%;
} 

.input-container-css input {
    border-radius: 5px;
    height: 10vh;
    width: 30vw;
    border: 2px solid rgb(93, 95, 93);
    background-color: rgb(50, 186, 37);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: white;
} .input-container-css input::placeholder {
    color: white;
}

.input-container-css a {
    text-decoration: none;
    margin-right: 21.5vw;
    margin-top: -3vh;
    color: green;
} .input-container-css a:hover {
    color: rgb(101, 132, 105);
}

#otp {
    width: 10vw;
    margin-right: 20vw;
    position: relative;
    z-index: 4;
} #otp-clicked {
    width: 7vw;  
    height: 6vh; 
    border-radius: 0;
    position: relative;
    bottom: 6vh;
    z-index: 1;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

} #otp-clicked:hover {
    cursor: pointer;
    transform: translate(0, 2px);
    color: rgb(184, 182, 182);
}

#submit-clicked {
    width: 17vw;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    margin-left: 15vw;
    margin-top: -2vh;
    font-size: 25px;
    background-color: rgb(103, 164, 13);
} #submit-clicked:hover {
    cursor: pointer;
    transform: translate(0, 2px);
    color: rgb(184, 182, 182);
}



@media only screen and (max-width: 480px) {
   
    html, body {
        background-color: #dcfac7;
        height: 100%;
        margin: 0;    
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    .shop-img-container-css img {
        height: 80px;
        width: 80px;
        position: relative;
        right: -3vw;
        margin-top: 2vh;
    }

    .input-container-css input {
        width: 70vw;
    } 
    
    #otp {
        width: 30vw;
        margin-right: 40vw;
    }
    
    #otp-clicked {
        width: 20vw;
        margin-left: 40vw;
        height: 15vh;
        position: relative;
        bottom: 17vw;
    }
   

    #submit-clicked {
        width: 40vw;
        margin-left: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    html, body {
        background-color: #dcfac7;
        height: 100%;
        margin: 0;    
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    .shop-img-container-css img {
        height: 80px;
        width: 80px;
        position: relative;
        right: -3vw;
        margin-top: 2vh;
    }

    .input-container-css input {
        width: 70vw;
        font-size: 18px;
    } 
    

    #otp {
        width: 30vw;
        margin-right: 40vw;
    }
    
    #otp-clicked {
        width: 25vw;  /* Increase width for small screens */
        height: 10vh;
        bottom: 7vh;
        font-size: 14px;
    }

    #submit-clicked {
        width: 40vw;
        margin-left: 50vw;
    }
}